<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans:400,700,700i&amp;display=swap">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/highlights.css">
  </head>
  <body class="font-monospace">
    <div id="site">
      <div class="container">
        <div class="row">
	  <div class="col-md-4 col-lg-3 col-xl-3 col-site" id="menu">
            {% include menu.html %}
	  </div>
	  <div class="col-md-8 col-lg-9 col-xl-9 col-site" id="content">
            {{ content }}
	  </div>
        </div>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
